
#map{
    margin-top: 10%;
    height: 500px;
    width: 60%;
    
}

body{
    background-image: url(img/wow2.jpg);
    background-size: cover;
    background-position: 25% 50%;
    height: 50%;    
   
}

@media(max-width: 768px){
    body{
        background-image: url(img/wow2.jpg);
        background-size: cover;
        background-position: 60% 50%;
        height: 50%;
    }

    #map{
        height: 300px;
        width: 90%

    }
}



#titulo{
    color: #FFF; 
    text-align: center;
    margin-top: 5%;
    font-size: 300%   
}

@media(max-width: 425px){
    #titulo{
        font-size: 150%;
    }

    #texto{
        font-size: 120%;
    }

    #map{
        height: 300px;
        width: 90%

    }

}

#texto{
    color: #FFF;
    margin-top: 10%;
    text-align: center;
}

#endereco{
    color: #FFF;
    margin-top: 5%;
    margin-bottom:5%; 
    text-align: center;
}

#logo-navbar{
    width: 10%;
    height: 90%;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;  /*Sets the text hover color on navbar*/
    }
    
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000; /*BACKGROUND color for active*/
    background-color: rgba(12, 121, 12, 0.96);
}

.navbar-default {
background-color: rgba(17, 160, 17, 0.96);
border-color: rgba(18, 117, 18, 0.75);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
color: #1D20AD;
text-decoration: none;
background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
text-decoration: none;
background-color: #FFF; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
color: #FCFCFC; /*Change active text color here*/
}

.navbar-default .navbar-brand{
    color: #FFFFFF;
}

.navbar-brand{
    font-family: "Bangers";
    font-size: 170%;
}