
.container{
	margin-bottom: 5%;
}

@media(max-width: 425px) {
	.container {
		margin-bottom: 25% !important;
	}
}

@media(min-width: 426px) {
	@media(max-width: 800px) {
		.container {
			margin-bottom: 10% !important;
		}
	}	
}

.principal-cadastra-produto, .principal-atualiza-produto {
	padding-top: 4rem;
	position: absolute;
	display: block;
	text-align: center;
}

table td {
	border: none !important;
}

.btn-enviar {
	padding-top: 90rem;
	position: relative;
}

.container-formulario {
	width: auto;
}

.row1, .row2, .row3 {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.descricao {
	width: 95.5%;
}

.desc {
	resize: vertical;
}

.listagem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.form-select {
	display: flex;
	justify-content: space-between;
}

.form-checkbox {
	display: flex;
	flex-direction: column;
}

.form-imagem {
	display: flex;
	align-items: flex-start;
}

.form-group .select-tipo {
	width: auto;
}

.form-group .select-plataforma {
	width: auto;
}

.input-imagem {
	font-size: 94%;
}