
	footer {
		border-top: 5px ridge #cb8733;
		position: absolute;
 		bottom: 0;
  		width: 100%;
	}

	.footer-copyright {
		background-color: #333333;
		padding-top: 3px;
		padding-bottom: 3px;	
	}

	.footer-copyright p {
		color: #ccc;
		text-align: center;
	}
	
	html {
  		position: relative;
  		min-height: 100%;
	}

	body {
		margin-bottom: 41px;
	}