
.lista-produto thead {
	cursor: pointer;
}

.visualizar {
	color: #006600;
	cursor: pointer;
}

.excluir{
	color: #EE0000;
	cursor: pointer;
}

.editar {
	color: #0000CC;
	cursor: pointer;
}

.btn-cadastrar {
	position: relative;
	width: 100%;
}