body {
    background-color: #000;
    
}

.main-contato .titulo-principal {
    color: rgb(29, 139, 29);
    font-family: 'Bangers';
    text-align: center; 
}

.main-contato .contato-wrapper {
    background-color: rgb(29, 139, 29);
    border-radius: 10px;
    margin-bottom: 1.2em;
    padding: 0.5em 0;
    font-family: 'Bangers';
    letter-spacing: 0.1em;
}

.main-contato #contato-enviar {
    margin-bottom: 1.1em;
    float: right;
    box-shadow: 0 0 0.5em #444;
    margin-top: 1em;
    background-color: #CC9900;
    color: #222;
    border: 0;
    letter-spacing: 0.1em;
}

.form-group .campo {
    margin-top: 0.5em;
}

.main-contato .contato-formulario {
    color: #222;
}

.main-contato #div-formulario {
    width: auto;
}

.main-contato #div-nome {
    padding: 0px;
    padding-right: 0.5em;
}

@media screen and (max-width:1000px) {
    .main-contato #div-nome {
        padding-right: 0;
    }
}

.main-contato #div-email {
    padding: 0px;
}

.main-contato .form-control {
    box-shadow: 0 0 1em #777;
    letter-spacing: 0.1em;
}

.main-contato .div-contato {
    width: 100%;
    color: #222;
}

.main-contato .contato {
    margin-bottom: 0;
}

.main-contato .telefone {
    color: #222;
}

.main-contato .div-telefones {
    width: 100%;
}

.main-contato .logo-whatsapp {
    width: 1em;
    margin: 0.2em;
    padding-bottom: 0.5em; 
}

.main-contato .contato-endereco-email {
    margin-bottom: 0.4em;
}

.main-contato #endereco-telefone {
    margin-bottom: 0;
}

.main-contato #contato-mensagem {
    resize: vertical;;
}

.main-contato .link-email {
    color: #222;
}