
body {
    background-color: #000;
    
}

.main-contato {
    padding-top: 3rem;
}

.main-contato div h1 {
    color: #222;
}

.main-contato .titulo-principal {
    font-size: 200%;
    text-align: center;
}

.main-contato .contato-wrapper {
    background-color: rgba(250,250,250, 0.7);
    border-radius: 10px;
    text-shadow: 0.04em 0.04em #ddd;
    box-shadow: 0 0 1em #444;
    margin-bottom: 1.2em;
}

.main-contato #contato-enviar {
    margin-bottom: 1.1em;
    float: right;
    box-shadow: 0 0 1em #444;
    margin-top: 0.5em;
    background-color: #448D00;
    border: 0;
}

.main-contato .contato-formulario {
    color: #222;
}

.main-contato #div-formulario {
    width: auto;
}

.main-contato #div-nome {
    padding: 0px;
    padding-right: 0.5em;
}

@media screen and (max-width:1000px) {
    .main-contato #div-nome {
        padding-right: 0;
    }
}

.main-contato #div-email {
    padding: 0px;
}

.main-contato .form-control {
    box-shadow: 0 0 1em #777;
}

.main-contato .div-contato {
    width: 100%;
    text-shadow: 0.03em 0.03em #ddd;
    color: #222;
}

.main-contato .contato {
    margin-bottom: 0;
}

.main-contato .telefone {
    color: #222;
}

.main-contato .div-telefones {
    width: 100%;
}

.main-contato .logo-whatsapp {
    width: 1em;
    margin: 0.2em;
    padding-bottom: 0.5em; 
}

.main-contato .contato-endereco-email {
    margin-bottom: 0.4em;
}

.main-contato #endereco-telefone {
    margin-bottom: 0;
}

.main-contato #contato-mensagem {
    resize: none;
}

.main-contato .link-email {
    color: #000;
}