body {
	background-color: #000000;
}
.login
{
	text-align: center;
	position:  relative;
	top: 10%;
}
.principal
{
	border-radius: 12px;
	background-color: #FFFFFF;
}
.aumento-footer
{
	height: 40%;
}