body{
  background-color: black;
}

.row{
  margin-left: 5%;
}

#imagem-jogo{
  margin-top: 5%;
  margin-bottom: 5%;
  display: inline-block;
  border: 1.5px solid rgba(192, 255, 0, 1);
}

#div-imagem{
  vertical-align: top;
}


@media(min-width: 320px){
  #div-imagem{
    width: 90%;
    height: 100%;
  }
}

@media(min-width: 320px){
  #div-imagem{
    width: 90%;
    height: 100%;
  }
}

@media(min-width: 1024px){
  #div-imagem{
    width: 50%;
    height: 50%;
  }
}

#texto{
  display: inline-block;
  margin-top: 0.7%;
  margin-bottom: 2%;
}

#nome-produto{
  color: #FFFFFF;
  font-family: "Bangers";
  letter-spacing: 4px; 
  color: rgba(192, 255, 0, 1);
}

.descricao{
  color: #ffffff;
  
  
}