
body {
	background-color: #000000;
}

#quem-somos
{
	border-radius: 30px;
	font-color: #000;
	background-color: #FFFFFF;
}
.texto-institucional
{
	font-size: 120%;
}

#titulo
{
	text-align: center;
}